---
import MainLayout from '../layouts/MainLayout.astro';

import { formatBlogPosts } from '../js/utils';
import PostCard from '../components/PostCard.astro';

const allPosts = await Astro.glob('./blog/*.md');

const formattedPost = formatBlogPosts(allPosts, {
  filterOutDrafts: false,
  filterOutFuturePosts: false,
  sortByDate: true,
  // limit: 8,
});
---

<MainLayout title="My Blog">
  <main>
    <section
      class="container"
      aria-label="Mis apuntess"
    >
      <h1 class="title">Mis apuntes</h1>
      <div class="post-container">
        {
          formattedPost.map((post) => (
            <PostCard
              frontmatter={post.frontmatter}
              url={post.url}
              tagType="h3"
            />
          ))
        }
      </div>
    </section>
  </main>
</MainLayout>

<style>
  /* main {
    height: calc(100vh - 155px);
  } */
  p {
    font-size: 4rem;
  }

  .post-container {
    margin-block: var(--space-md);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    height: 100%;
  }

  .title {
    text-align: center;
    color: rebeccapurple;
    margin-bottom: 3rem;
    font-size: 2.5em;
    font-weight: 600;
  }
</style>
